<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Artists List</title>
</head>
<body>
<h1>List of Artists</h1>
<p th:if="${trackId != null}">
    Assigning artist to track ID: <span th:text="${trackId}"></span>
</p>
<ul>
    <li th:each="artist : ${artists}">
        <span th:text="${artist.firstName}"></span> - <span th:text="${artist.bio}"></span>
        <a th:href="@{/track/assignArtist(trackId=${trackId}, artistId=${artist.id})}">Assign</a>
    </li>
</ul>
</body>
</html>
